/*
Colors:
  




field: 
 border-radius: 16px
 background-color: #E2E2E7
 
button: 
 border-radius: 999px
 color:

*/

.custom-container {
  margin-left: 36px;
  margin-right: 36px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.field {
  border-radius: 16px !important;
  background-color: #e2e2e7 !important;
  text-indent: -0px !important;
  border-color: transparent !important;
}

.field::placeholder {
  color: #717173 !important;
  font-weight: 500 !important;
}
